html,body{
    background: #000000;
}
.top {
    height: 20vh;
}

.container-fluid{
    height: 80vh;
}

.vue-typer {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;
}

.vue-typer .custom.char {
    color:#ffffff;
}
.vue-typer .custom.char.selected {
    background-color: #264F78;
}

.vue-typer .custom.caret {
    width: 12px;
    height: 35px;
    background-color: #ffffff;
}

.vue-typer .custom.caret.complete{ 
    display: inline-block !important;
    background-color: #ffffff;
}

.blink_me {
    font-family: "Courier";
    font-size: 30px;
    color: #ffffff;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}