html,body{
    background: #343a40;
    
}
.top {
    height: 30vh;
}

.mid{
    height: 60vh;
}
.bot{
    height: 10vh;
}
a{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

.vue-typer {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
	word-wrap: break-word; /* IE */
}

.vue-typer .custom.char {
    color:#ffffff;
}
.vue-typer .custom.char.selected {
    background-color: #264F78;
}

.vue-typer .custom.caret {
    width: 12px;
    height: 35px;
    background-color: #ffffff;
}

.vue-typer .custom.caret.complete{ 
    display: inline-block !important;
    background-color: #ffffff;
}

.blink_me {
    font-family: "Courier";
    font-size: 30px;
    color: #ffffff;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}