html,body{
    background: #000000;
}
.top {
    height: 20vh;
}

.container-fluid{
    height: 80vh;
}

.response {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    position: relative;
    display: block;
    margin-bottom: .75rem;
    border-radius: .25rem;
    border: 1px solid #fff;
}

.vue-typer {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    white-space: pre;
}

.vue-typer .custom.char {
    color:#ffffff;
}
.vue-typer .custom.char.selected {
    background-color: #264F78;
}

.vue-typer .custom.caret {
    width: 12px;
    height: 35px;
    background-color: #ffffff;
}

.vue-typer .custom.caret.complete{ 
    display: inline-block !important;
    background-color: #ffffff;
}

.blink_me {
    font-family: "Courier";
    font-size: 30px;
    color: #ffffff;
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

pre#target {
	white-space: pre;           /* CSS 2.0 */
	white-space: pre-wrap;      /* CSS 2.1 */
	white-space: pre-line;      /* CSS 3.0 */
	white-space: -pre-wrap;     /* Opera 4-6 */
	white-space: -o-pre-wrap;   /* Opera 7 */
	white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    display:block;
	word-break: break-all;     /* IE 5+ */
}